body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 28px;
  background: #1f1f1f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

.btn:hover {
  background: #333;
}
